<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FixContractItems.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	
  <appSettings>
    <add key="maxToRead" value="200"/>
	<add key="findItemIDStartDate" value="2021-02-01"/>
  </appSettings>
	
  <connectionStrings>
    <add name="ServerDB" connectionString="Server=JAX-SQL2016-dev; Database=warranty; UID=root; Pwd=create1;"/>
  </connectionStrings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="${APPDATA}\fixContractItems\log-file.txt"/>
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>

      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
	
  <userSettings>
    <FixContractItems.Properties.Settings>
      <setting name="txtMismatchedOutputFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtMismatchedSheetName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtOutputFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtMissingFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtMissingSheetName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtMissingOutputFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtClaimCarrierMismatchOutputFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtClaimCarrierMismatchSheetName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtClaimCarrierFixOutputFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtContractItemsUpdateFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtContractItemsUpdateSheetName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtContractItemsUpdateOutputFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtContractItemsUpdateInputFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="txtContractItemsUpdateWriteSQL" serializeAs="String">
        <value/>
      </setting>
    </FixContractItems.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
